    .v1_88 {
    width: 488px;
    height: 386px;
    position: relative;
    left: 0px;
    top: 0px;
    margin-right: 20px;
  }
  
  .EducaçãoFinanceira {
    width: 488px;
    height: 216px;
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    color: rgba(255, 64, 129, 1);
  }

    .Vemcomigo {
        width: 462px;
        font-size: 27px;
        line-height: 100%;
        color: rgba(85, 85, 85, 1);
      }
  
  .v1_91 {
    width: 268px;
    height: 51px;
    position: relative;
    left: 1px;
   
  }
  
  .v1_92 {
    border: 2px solid rgba(255, 64, 129, 1);
    width: 268px;
    height: 51px;
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: 62px;
  }
  
  
  .querosaber {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    color: rgba(255, 64, 129, 1);
    text-align: center;
    font-size: 27px;
    line-height: 100%;
    cursor: pointer;
    overflow: hidden;
  }
  
  .querosaber button {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 62px;
    color: #FF4081;
    ;
    font-size: 27px;
    line-height: 100%;
    transition: width 0.5s ease-in-out;
  }
  
  .querosaber button:hover {
    width: 100%;
    background-color: #FF4081;
    color:  #FFFFFF;
  }
  .EducaçãoFinanceira{
  width: 488px;
   height: 216px; 
   font-size: 60px; 
   font-weight: 700; 
   line-height: 69px !important;

    color: rgba(255, 64, 129, 1);
  }
  .Vemcomigo p{
    width: 462px; font-size: 27px; line-height: 100%; color: rgba(85, 85, 85, 1);
    Margin: 27px 0 27px 0;
  }
  
.banner{
  left: 206px;
  top: 242px;
  position: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 730px;
    padding-top: 178px;
    
  }

  @media screen and (max-width:771px) {

.div1{
  width: 10% !important;
}
.div1 img{
width: 100%;
}
.div2{
  width: 50% !important;
}

  }
  @media screen and (max-width:767px) {

    .div1{
      width: 10% !important;
    }
    .div1 img{
    width: 47%;
    }
    .div2{
      width: 50% !important;
      
    }

    .Vemcomigo p{
     
      margin-top: 1px;
      margin-bottom: 4px;
     }
     .EducaçãoFinanceira{
      font-size: 50px;
      height: 160px !important;
      
     }

    
      }
  @media screen and (max-width:615px) {
.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

    .Vemcomigo {
      width: 100%;
    
     margin-top: 1px;
     margin-bottom: 8px;
    }
    
    .v1_92{
      width: 100%;
     
    }
    .v1_91{
     
      display: contents;
     
    }
    .div2 p{
      width: 100%;
      
    }
    .div2{
      width: 100%;
      display: contents;
    }
    .EducaçãoFinanceira{
      width: 100%;
      height: 199px !important;
    }
    .EducaçãoFinanceira p{
      width: 100%;
    }
    .row{
      width: 100%;
    } 
      }
    
    


 