main {
  height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    
  }
  
  .banner img {
    width: 35vw;
  }

   .contato p {
    font-size: 6rem;
    color: #ff4081;
    font-weight: 700;
    margin: 1rem 0;
  }

  .contato.v1_88 {
    padding: 50px;
    margin-left: 150px;
    margin-right: 100px;
    
  }

  .row {
    margin-top: 380px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

   
  form {
    width: 40vw;
    display: flex;
    flex-direction: column;
    border-color: 5px solid #58555d;
    gap: 10px;
  }
  
  input, textarea {
    font-size: 15px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: #58555d;
    border: 1px solid #58555d;
    
    
  }
  
  button.button {
    width: 12vw;
    margin: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #ff4081;
    font-weight: 800;
  }

  textarea::placeholder, input::placeholder {
    color: #58555d;
  }
