:root {
    --cor-btn: #FF4081;
}

.cursosPag{
    display: block;
    margin-left: 10%;
   
}
.primeira-divisaoPag{
    display: inline-flex;
    text-align: center;
    
}


.titulo{
    padding-top: 70px;
}
.titulo h1{
width: 263px;
height: 69px;
left: 82px;
top: 198px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 69px;
text-transform: capitalize;
color: #FF4081;
margin-top: 80px;
}
.titulo h3{
width: 317px;
height: 23px;
left: 82px;
top: 267px;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #555555;
}
.titulo{
    padding-left: 80px;
    padding-bottom: 50px;
}
.cursosPag h2{
width: 512px;
height: 40px;
left: 545px;
top: 406px;
font-weight: 700;
font-size: 35px;
line-height: 40px;
color: #FF4081;
text-align: justify;
}
.cursosPag p{
 Max-width: 724px;
left: 545px;
top: 483px;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #000000;
text-align: justify;
}

.cursosPag button{

background: #419488;
border-radius: 62px;
width: 216px;
height: 50px;
left: 554px;
top: 654px;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;

}
.curso-iniciante{
    display: grid;
    margin: 0px 0 100px 50px;
    
}
.sombra{
width: 90%;
height: 5px;
left: 82px;
top: 834px;
background: #C4C4C4;
}
.primeira-divisaoPag{
    margin: 50px 0 100px 0;
}
.segunda-divisaoPag{
    display: inline-flex;
    text-align: center;
    margin: 50px 0 100px 0;
}
.terceira-divisaoPag{
    display: inline-flex;
    text-align: center;
    margin: 50px 0 100px 0;
}
.terceira-divisaoPag img{
    left: 8.89%;
right: 64.72%;
top: 62.61%;
width: 380px;
height: 498px;
}
.cursosPag button:hover{
    background-color: #ffffff;
    color: #419488;
    border: 1px solid #419488;
}

/*modal*/

  /*Modal*/
  .modal-body h2{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: var(--cor-btn);
    margin-top: 16px;
}
.modal-body p{
   text-align: center;
    font-size: 15px;

}
.modal-body h3{
    color:  #555555;
}
.bodyModal button{
   width: 50%;
    height: 51px;
    background-color: #419488;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
   
}
.bodyModal button:hover{
    background-color: #FFFFFF;
    color: #419488;
    border: 1px solid  #419488;
}
.modal-body{
    width: 100%;
    height: 63vh;
}
.bodyModal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bodyModal img{
    width: 50%;
}
.bodyModal h3{
font-weight: 700;
}
#p-curso{
    text-align: justify;
}
.modal-footer button{
    width: 68px;
    height: 21px;
   
}

#link{

    width: 50%;
    height: 51px;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
}


@media screen and (max-width: 1116px) {
   
.cursosPag img{
    width: 373px;
    height: 254px;
    margin-top: 5%;
}
.cursosPag button{
    margin-top: 20px;
}
.cursosPag h2{
   
    Max-width: 197px;
    height: 161px;
}
.cursosPag {
    display: block;
     margin-left: 0 !important;
}
.primeira-divisaoPag{
    margin: 50px 0 18px 0;
}
.segunda-divisaoPag{
    
    margin: 50px 0 18px 0;
}
.terceira-divisaoPag{
   
    margin: 50px 0 18px 0;
}

.curso-iniciante p{
    Max-width: 573px !important;
}

}

@media screen and (max-width:837px) {
   
    .cursosPag img{
        width: 373px;
        height: 254px;
        margin-top: 5%;
        margin-left: 28px;
    }
    .cursosPag h2{
       
        Max-width: 197px;
        height: 161px;
        text-align: center;
        margin: auto;
    }
    .cursosPag {
        display: block;
        margin-left: -104px !important;
        margin-right: 10px;
    }
    .primeira-divisaoPag{
        margin: 50px 0 18px 0;
    }
    .segunda-divisaoPag{
        
        margin: 50px 0 18px 0;
    }
    .terceira-divisaoPag{
       
        margin: 50px 0 18px 0;
    }
    
    .curso-iniciante p{
        Max-width: 573px !important;
        text-align: center;
        margin: auto;
        
       
    }
    .primeira-divisaoPag{
        display: block;
    }
    .segunda-divisaoPag{
        display: block;
    }
    .terceira-divisaoPag{
        display: block;
    }

    .sombra{
        width: 90%;
        height: 5px;
        left: 82px;
        top: 834px;
        background: #C4C4C4;
        margin-left: auto;
        }

        .curso-iniciante{
            display: block !important;
        }
        .titulo h3{
            width: 300px;
            margin-left: -67px;
            
        }
        .titulo h1{
            margin-left: -67px;
            
        }
    
    }

    @media screen and (max-width:837px) {
   
        .cursosPag img{
            width: 264px;
            height: 180px;
            margin-top: 5%;
            margin-left: 36px;
        }
        
        }