 :root {
     --cor-btn: #FF4081;
 }

 .cursos {
     width: 100%;
     height: 730px;
     background-color: #F7F7F7;
     display: flex;
     justify-content: space-around;

 }

 .primeira-divisao {

     height: 504px;
     left: 128px;
     top: 938px;
     margin-top: 10%;

 }

 .segunda-divisao {
     width: 33, 33%;
     height: 504px;
     left: 128px;
     top: 938px;
     margin-top: 10%;
 }

 .terceira-divisao {
     width: 33, 33%;
     height: 299px;
     left: 128px;
     top: 938px;
     margin-top: 10%;
 }

 .cursos img {
     left: 10.83%;
     right: 69.17%;
     top: 29.34%;
     bottom: 62.21%;
     width: 288px;
     margin-left: 6%;

 }

 .img-dv3 {
     left: 10.83%;
     right: 69.17%;
     top: 20.34%;
     bottom: 62.21%;
     width: 288px;
     height: 291px;
 }

 .cursos h2 {

     font-style: normal;
     font-weight: 700;
     font-size: 25px;
     line-height: 29px;
     text-align: center;
     color: var(--cor-btn);
     margin-top: 16px;
 }

 .cursos p {
     width: 293px;
     font-style: normal;
     font-weight: 300;
     font-size: 17px;
     line-height: 20px;
     text-align: center;
     color: #000000;
     margin-top: 16px;
     margin-bottom: 2rem;
 }



 .cursos button {
     width: 233px;
     height: 51px;
     background-color: var(--cor-btn);
     border-radius: 62px;
     font-family: 'Ubuntu';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 23px;
     text-align: center;
     color: #FFFFFF;
     margin-left: 10%;

 }

 @media screen and (max-width: 984px) {
     .cursos {
         height: auto;
     }

     .cursos img {
         width: 215px;
         height: 213px;

     }

     .cursos p {
         width: 218px;
         margin-left: 10%;
     }

     .cursos button {
         width: 156px;
         height: 40px;
         margin-left: 22%;
     }

     .cursos h2 {
         width: 266px;
     }


 }

 @media screen and (max-width:755px) {
     .cursos {
         height: 661px;
     }

     .cursos img {
         width: 178px;
         height: 201px;
         margin-left: -10%;

     }

     .cursos p {
         width: 108px;
         margin-left: 10%;
     }

     .cursos button {
         width: 100px;
         height: 51px;
         margin-left: 14%;
     }

     .cursos h2 {
         width: 133px;
     }

     .terceira-divisao {
         margin-top: 14%;
     }

     .cursos button:hover {
         background-color: var(--cor-btn);
     }


 }

 @media screen and (max-width:633px) {
     .cursos {
         display: grid;
         height: 1850px;
     }

     .primeira-divisao {
         margin-top: 10% !important;
         text-align: center !important;
     }

     .cursos div {
         margin-top: -20px;
         text-align: center !important;
     }

     .cursos img {
         width: 84%;
         height: 62%;
         margin-left: 6%;
     }

     .cursos p {
         width: 82%;

     }

     .cursos button {
         width: 213px;
         height: 51px;
         margin-left: 0;

     }

     .cursos h2 {
         width: 100%;
     }

     .terceira-divisao {
         margin-top: 14%;
     }

     .img-dv3 {
         height: 287px !important;
     }

 }

 .cursos button:hover {
     background-color: #f42c6f;
 }