.depoimentos,
.depoimentos * {
  box-sizing: border-box;
}
.depoimentos {
  position: absolute;
  inset: 0;
}
.o-que-falam-sobre-n-s {
  color: #009688;
  text-align: left;
  font: 700 37px "Nunito", sans-serif;
  position: absolute;
  left: 128px;
  top: 1678px;
}
.depo-4 {
  width: 489px;
  height: 108px;
  position: static;
}
.depo {
  width: 363px;
  height: 106px;
  position: static;
}
.sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam {
  color: #000000;
  text-align: left;
  font: 300 18px "Nunito", sans-serif;
  position: absolute;
  left: 840px;
  top: 1997px;
  width: 363px;
  height: 71.62px;
}
.janes-joplin-29 {
  color: #000000;
  text-align: left;
  font: 400 18px "Nunito", sans-serif;
  position: absolute;
  left: 840px;
  top: 2079.13px;
  width: 124px;
  height: 23.87px;
}
.jane {
  width: 104px;
  height: 104px;
  position: static;
}
.rectangle-14 {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #ff4081;
  border-width: 2px;
  width: 104px;
  height: 104px;
  position: absolute;
  left: 714px;
  top: 2001px;
}
.image-8 {
  border-radius: 59px;
  width: 89px;
  height: 88px;
  position: absolute;
  left: 719px;
  top: 2015px;
}
.depo-3 {
  width: 490px;
  height: 109px;
  position: static;
}
.group-23 {
  width: 363px;
  height: 109px;
  position: static;
}
.sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam2 {
  color: #000000;
  text-align: left;
  font: 300 18px "Nunito", sans-serif;
  position: absolute;
  left: 255px;
  top: 1996px;
  width: 363px;
  height: 73.65px;
}
.whoopi-goldberg-37 {
  color: #000000;
  text-align: left;
  font: 400 18px "Nunito", sans-serif;
  position: absolute;
  left: 255px;
  top: 2080.45px;
  width: 175px;
  height: 24.55px;
}
.whoopi {
  width: 104px;
  height: 104px;
  position: static;
}
.group-25 {
  width: 104px;
  height: 104px;
  position: static;
}
.rectangle-13 {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #ff4081;
  border-width: 3px;
  width: 104px;
  height: 104px;
  position: absolute;
  left: 128px;
  top: 1996px;
}
.image-7 {
  border-radius: 31px;
  width: 76px;
  height: 82px;
  position: absolute;
  left: 142px;
  top: 2013px;
}
.depo-2 {
  width: 495px;
  height: 104px;
  position: static;
}
.group-20 {
  width: 363px;
  height: 104px;
  position: static;
}
.sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam3 {
  color: #000000;
  text-align: left;
  font: 300 18px "Nunito", sans-serif;
  position: absolute;
  left: 852px;
  top: 1806px;
  width: 363px;
  height: 70.27px;
}
.jaden-smith-23 {
  color: #000000;
  text-align: left;
  font: 400 18px "Nunito", sans-serif;
  position: absolute;
  left: 852px;
  top: 1886.58px;
  width: 128px;
  height: 23.42px;
}
.group-21 {
  width: 104px;
  height: 104px;
  position: static;
}
.rectangle-142 {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #ff4081;
  border-width: 2px;
  width: 104px;
  height: 104px;
  position: absolute;
  left: 720px;
  top: 1806px;
}
.image-5 {
  width: 81px;
  height: 85px;
  position: absolute;
  left: 812px;
  top: 1811px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.depo-1 {
  width: 495px;
  height: 104px;
  position: static;
}
.group-19 {
  width: 363px;
  height: 104px;
  position: static;
}
.sed-ut-perspiciatis-unde-omnis-iste-natus-error-sit-voluptatem-accusantium-doloremque-laudantium-totam-rem-aperiam4 {
  color: #000000;
  text-align: left;
  font: 300 18px "Nunito", sans-serif;
  position: absolute;
  left: 260px;
  top: 1806px;
  width: 363px;
  height: 70.27px;
}
.wally-25 {
  color: #000000;
  text-align: left;
  font: 400 18px "Nunito", sans-serif;
  position: absolute;
  left: 260px;
  top: 1886.58px;
  width: 76px;
  height: 23.42px;
}
.group-22 {
  width: 104px;
  height: 104px;
  position: static;
}
.rectangle-132 {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #ff4081;
  border-width: 3px;
  width: 104px;
  height: 104px;
  position: absolute;
  left: 128px;
  top: 1806px;
}
.image-6 {
  width: 84px;
  height: 68px;
  position: absolute;
  left: 139px;
  top: 1818px;
}
