.footer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #2e948a;
  padding: 20px;
  align-items: center;
  font-size: 20px;
}

.coluna-img {
  width: 30%;
  align-items: center;
  padding: 5px;
  max-width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: block;
  justify-content: space-around;
}

nav li {
  margin: 2px;
}

nav li a {
  font-family: "Ubuntu";
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fdfdfd;
}

.coluna-cursos {
  color: white;
  text-decoration: none;
  margin-right: 115px;
  align-items: center;
  padding: 0px;
}

.menu-list-footer {
  padding: 0px;
}

.menu-footer-1 {
  padding: 0px;
}

.menu-footer-2 {
  padding: 0px;
}

.menu-footer-3 {
  padding: 0px;
}

.coluna ul li {
  display: flex;
  margin: 0 10px;
}

.coluna ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.coluna-btn {
  flex-wrap: wrap;
  padding: 5px;
  width: 350px;
  height: 150px;
  position: static;
  display: flex;
  margin-right: 0px;
  align-items: center;
}

.btn-footer-1 {
  color: white;
  box-sizing: border-box;
  font-size: 20px;
  width: 350px;
  height: 55px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 62px;
}

.btn-footer-2 {
  color: white;
  box-sizing: border-box;
  font-size: 20px;
  width: 350px;
  height: 55px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 62px;
}