.footer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #2e948a;
  padding: 20px;
  align-items: center;
  font-size: 20px;
}

.coluna-img {
  width: 100%;
  align-items: center;
  padding: 5px;
  max-width: 100%;
}

.menu-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list-footer li a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #fdfdfd;
} 

.coluna-cursos {
  
  text-decoration: none;
  margin-right: 115px;
  align-items: center;
  padding: 0px;
}

.menu-list-footer {
  padding: 0px;
  list-style: none;
  display: block;
  justify-content: space-around;
}

.menu-list-footer li a:hover {
  text-decoration: none;
  color: #ff4081;
}

.menu-list-footer li {
  margin: 2px;
}

.menu-footer-1 {
  padding: 0px;
}

.menu-footer-2 {
  padding: 0px;
}

.menu-footer-3 {
  padding: 0px;
}

.coluna ul li {
  display: flex;
  margin: 0 10px;
}

.coluna ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.coluna-btn {
  flex-wrap: wrap;
  padding: 5px;
  width: 350px;
  height: 150px;
  position: static;
  display: flex;
  margin-right: 0px;
  align-items: center;
}

.btn-footer-1 {
  color: white;
  box-sizing: border-box;
  font-size: 20px;
  width: 350px;
  height: 55px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 62px;
}

.btn-footer-2 {
  color: white;
  box-sizing: border-box;
  font-size: 20px;
  width: 350px;
  height: 55px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 62px;
}

.btn-footer-1:hover, .btn-footer-2:hover {
  background-color: #8cc9b0f7;
  color: white;
}


@media screen and (max-width: 984px) {
  .footer button {
    width: 156px;
    height: 40px;
    margin-left: 22%;
  }
}

@media screen and (max-width:755px) {
  .footer button {
    width: 100px;
    height: 51px;
    margin-left: 14%;
  }
}

@media screen and (max-width:633px) {
  .footer button {
    width: 213px;
    height: 51px;
    margin-left: 0;
  } 
}