.footer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: #2e948a;
  padding: 20px;
  align-items: center;
  font-size: 20px;
}

.coluna-img {
  width: 100%;
  align-items: center;
  padding: 5px;
  max-width: 100%;
}

.menu-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list-footer li a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #fdfdfd;
} 

.coluna-cursos {
  text-decoration: none;
  margin-right: 115px;
  align-items: center;
  padding: 0px;
}

.menu-list-footer {
  padding: 0px;
  list-style: none;
  display: block;
  justify-content: space-around;
}

.menu-list-footer li a:hover {
  text-decoration: none;
  background-color: #8cc9b0f7;
  border-radius: 5px;
}

.menu-list-footer li {
  margin: 2px;
  text-transform: uppercase;
}

.menu-footer-1, .menu-footer-2, .menu-footer-3 {
  padding: 0px;
}

.coluna ul li {
  display: flex;
  margin: 0 10px;
}

.coluna ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.coluna-btn {
  flex-wrap: wrap;
  padding: 5px;
  width: 350px;
  height: 150px;
  position: static;
  display: flex;
  margin-right: 0px;
  align-items: center;
}

.btn-footer-1, .btn-footer-2 {
  color: white;
  box-sizing: border-box;
  font-size: 20px;
  width: 350px;
  height: 55px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 62px;
}

.btn-footer-2 a {
  color: white;
  box-sizing: border-box;
  font-size: 20px;
  width: 350px;
  height: 55px;
  background-color: transparent;
  text-decoration: none;
}

.btn-footer-1:focus, .btn-footer-2:focus {
  outline: none;
  border: 1px solid #ff4081;
}

.btn-footer-2 a:hover {
  text-decoration: none;
  color: white;
}

.btn-footer-1:hover, .btn-footer-2:hover {
  background-color: #8cc9b0f7;
  text-decoration: none;
}


@media screen and (max-width: 984px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  .coluna-cursos {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .menu-list-footer a {
    font-size: 1.6rem; 
    text-transform: uppercase;
  }
  
  .footer button {
    width: 100vw;
    height: 35%;
    margin-left: 0;
  } 

  .coluna-btn {
    margin-right: 5rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width:755px) {
  .footer {
    display: grid;
    justify-content: center;
  }

  .coluna-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .coluna-cursos {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .menu-list-footer li {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }

  .menu-list-footer a {
    font-size: 1.6rem; 
    text-transform: uppercase;
  }
  
  .footer button {
    width: 100%;
    height: 35%;
    margin-left: 0;
  } 
}

@media screen and (max-width:633px) {
  .footer {
    display: grid;
    justify-content: center;
  }
  
  .coluna-cursos {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .menu-list-footer a {
    font-size: 1.6rem; 
    text-transform: uppercase;
  }
  
  .footer button {
    width: 100%;
    height: 35%;
    margin-left: 0;
  } 

  .coluna-btn {
    width: auto;
  }
}